body{
    background: #B0E0E6;
}
.container {
    margin:auto;
    padding: 20px;
}
h1 {
    font-size: 2.5em;
    margin: 20px 0;
    color: black;
    text-transform: uppercase;
    padding-bottom: 10px;
}

h2 {
    font-size: 2.0em;
    margin: 20px 0;
    text-align: left;
    line-height: 1.8;
    color: black;
    padding-bottom: 10px;
}

p {
    margin: 20px 0;
    padding: 0 40px;
    text-align: left;
    font-size: 2.0em;
    
}

ul {
    font-size: 1.5em;
    margin: 20px 40px;
    padding-left: 20px;
    text-align: left;
}
ul li {
    margin-bottom: 10px;
}

ul ul {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1em;
}

@media (max-width: 992px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 2.2em;
    }

    h2 {
        font-size: 1.8em;
    }

    p, ul {
        padding: 0 20px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.6em;
    }
    p, ul {
        padding: 0 15px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.4em;
    }
    p, ul {
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.2em;
    }
    p, ul {
        padding: 0 5px;
    }
}