.suspenso{
    position: left;
    margin: 15px;
    
     
}
.linha-meio {
    width: 100%;
    margin: 20px auto;
    border-top: 2px;
}

.carrossel-container {
    background: linear-gradient(to bottom,#87CEFA,#1E90FF);
    position: relative;
    padding: 1%;
    margin: 1%;
    margin-top: 4%;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    border-width: 0.5px; 
    border-style: solid; 
    border-image: 
    linear-gradient(to bottom,#1E90FF, #ADD8E6) 1;
}

.carrossel-container h2 {
    margin-bottom: 10px;
}

.carrossel {
    display: flex;
    overflow: hidden;
}

.livro {
    flex:1;
    box-sizing: border-box;
    text-align: center;
}

.livro img {
    width: 150px; 
    height: 200px; 
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
}

.livro-info {
    margin: 10px;
    color: black;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    font-weight: bold;
    word-spacing: -5px;
}

.livro-titulo {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 26px;
}

.livro-autor, .livro-avaliacao {
    font-weight: bold;
    margin-bottom:5px;
}
.livro-preco{
    margin: 10px;
}
.estrela {
    font-size: 20px;
    color:#0A0A0A;
}

.estrela.gold {
    color:#FFC700;
}


.botao-compra {
    display: inline-block;
    padding: 15px 30px;
    background-color: #01509a;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 10px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    border: none;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1); 


}
.botao-compra:hover{
    background-color: #87cefa;
}
.livro .indisponivel {
    background-color:#FF0000;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 10px;
    cursor: not-allowed;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    border: none;
}

.livro .indisponivel:hover {
    background-color: #B22222;
}

.carrossel-button {
    margin: none;
    position: absolute;
    top: 50%;
    transform: translateY(-20%);
    background-color: transparent;
    color: white;
    opacity: 70%;
    border: none;
    cursor: pointer;
    border-radius: 10%;
    padding: 9px;
    transition: background-color 0.3s ease;
    font-size: 50px;

}

#AnteriorRecomendado {
    font-weight: bold;
    left: 20px;
    
}

#ProximoRecomendado {
    font-weight: bold;
    right: 20px;
}

.carrossel-button:hover {
    opacity: 70%;
    color: white;
    background-color: #a8a8a8;
}


.verMais {
    display: inline-block;
    padding: 15px 30px;
    background-color: #01509a;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 10px;
    font-family: 'IBM Plex Mono', monospace;
    word-spacing: -5px;
    font-weight: bold;
    border: none;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1); 

}
.verMais:hover{
    background-color: #87cefa;
}

@media (max-width: 768px) {
    .carrossel-container {
        margin-top: 2%;
        padding: 2%;
    }

    .carrossel {
        flex-direction: column;
        align-items: center;
    }

    .livro {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .livro img {
        width: 120px;
        height: auto;
        margin: 0 0 10px 0;
    }

    .livro-info {
        font-size: 14px;
    }

    .livro-titulo {
        font-size: 22px;
    }

    .carrossel-button {
        visibility: hidden;
    }

}

@media (max-width: 480px) {
    .carrossel-container {
        margin-top: 1%;
        padding: 3%;
    }

    .livro img {
        width: 100px;
        height: auto;
    }

    .livro-info {
        font-size: 12px;
    }

    .livro-titulo {
        font-size: 18px;
    }

    .carrossel-button {
        visibility: hidden;
    }
 
    
}
