.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


footer {
    background: linear-gradient(to bottom,#87CEFA, #1E90FF,#00BFFF);
    color: black;
    padding: 60px 40px; 
    margin-top: 10%;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%; 
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-links, .footer-links2, .footer-contact {
    flex: 1;
    margin: 10px 0; 
}

.footer-links, .footer-links2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-contact {
    text-align: right;
}

.footer-links, .footer-links2, .footer-contact p {
    margin: 10px 0; 
    font-size: 18px; 
}

.footer-links, .footer-links2 {
    list-style: none;
    padding: 0;
}

.footer-links li, .footer-links2 li {
    margin-bottom: 15px; 
}

.footer-links a, .footer-links2 a {
    color: black;
    text-decoration: none;
    font-size: 20px; 
    font-family: Arial, sans-serif;
    font-weight: bold;
    border: none;
    transition: color 0.3s; 
}

.footer-links a:hover, .footer-links2 a:hover {
    text-decoration: none; 
    color: white; 
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-links, .footer-links2, .footer-contact {
        text-align: center;
        align-items: center;
    }

    .footer-contact {
        margin-top: 20px;
    }

    .footer-links a, .footer-links2 a {
        font-size: 18px;
    }

    .footer-links, .footer-links2, .footer-contact p {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    footer {
        padding: 40px 20px; 
    }

    .footer-links a, .footer-links2 a {
        font-size: 16px;
    }

    .footer-contact p {
        font-size: 14px;
    }

    .footer-links, .footer-links2, .footer-contact {
        margin: 5px 0;
    }

    .footer-contact {
        margin-top: 15px;
    }
}
