#buscar {
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 15px; 
}

#buscar form {
    display: flex;
    gap: 5px; 
    margin-bottom: 0;
    font-family: Arial, sans-serif;
    font-weight: bold; 
}

#buscar input,
#buscar select {
    flex: 1; 
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#buscar button {
    font-size: large;
    padding: 10px 20px;
    background-color: #01509a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
    font-weight: bold;
    border: none;
}

#buscar button:hover {
    background-color: #87cefa;
}

.avaliacao {
    display: flex;
    margin: 10px 0;
}

.star {
    font-size: 20px;
    margin: 0 2px;
}

.gold {
    color: gold;
}

.gray {
    color: gray;
}

.resultado {
    background: transparent;
    padding: 20px;
    border-radius: 10px;
}

.resultado .livro {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.resultado .livro img {
    width: 16rem;
    height: 25rem;
    margin-right: 20px;
    border-radius: 5px;
}

.resultado .livro-info {
    flex: 1;
    font-family: Arial, sans-serif;
    font-weight: bold;
    border: none;
}

.resultado .livro-info h2 {
    font-size: 2em;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    border: none;
}

.resultado .livro-info p {
    color: black;
    font-family: Arial, sans-serif;
    font-weight: bold;
    border: none;
}

.resultado .buy-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #01509a;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    border: none;
}

.resultado .buy-button:hover {
    background-color: #87cefa;
}

.resultado .unavailable-button {
    background-color:#FF0000;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 10px;
    cursor: not-allowed;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    border: none;
}
.resultado .unavailable-button:hover{
    background-color: #B22222;
}
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination button {
    margin: 0 5px;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    font-size: large;
    background-color: #01509a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: default;
}

.pagination button:hover:not(:disabled) {
    background-color: #87cefa;
}


@media (max-width: 768px) {
    #buscar {
        flex-direction: column;
        align-items: stretch;
    }

    #buscar form {
        flex-direction: column;
    }

    #buscar input,
    #buscar select,
    #buscar button {
        width: 100%;
        margin-bottom: 10px;
    }

    .resultado .livro {
        flex-direction: column;
        align-items: center;
    }

    .resultado .livro img {
        margin-bottom: 20px;
        width: 12rem;
        height: auto;
    }

    .resultado .livro-info h2 {
        font-size: 1.5em;
        text-align: center;
    }

    .resultado .buy-button,
    .resultado .unavailable-button {
        width: 100%;
        padding: 10px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .resultado .livro img {
        width: 100%;
        height: auto;
    }

    .resultado .livro-info h2 {
        font-size: 1.2em;
    }

    .pagination button {
        padding: 10px 20px;
        font-size: 14px;
    }
}