@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

#logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    margin-left: 10px;
    
    
}

#logo img {
    width: 30%;
    height: auto;
    margin-left: 15px;
    
}
header {
    background: linear-gradient(to right,#ace8fc,#00BFFF,
    #59abfd);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
    box-sizing: border-box;

}

header nav a {
    padding: 10px 15px;
    margin: 10px;
    border-radius: 5px;
    transition: all .35s ease-in-out;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    border: none;
    text-decoration: none;
}

header nav a:hover {
    color: white; 
    transform: translateX(-60px);
    
    


}
header nav button {
    background-color: transparent;
    vertical-align: middle;
    margin: 5px;
    padding: 15px 30px;
    text-transform: uppercase;
    transition: 0.5s;
    font-family: 'IBM Plex Mono', monospace;
    word-spacing: -5px;    
    font-weight: 400;
    font-style: normal;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}

.suspenso {
    position: relative;
    display: inline-block;
}

.suspenso-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: transparent;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: black;
    margin: 4px 5px;
    transition: 0.4s;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-10px, 6px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(45deg) translate(-10px, -6px);
}
#botaoLogin {
    margin: auto;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    border: 0px;
    font-weight: 700;
    background: linear-gradient(to right,
    #00BFFF,
    #1E90FF);
    cursor: pointer;
    user-select: none;
    font-family: 'IBM Plex Mono', monospace;
    word-spacing: -5px;

}
#botaoLogin:hover {
    background-position: right center;
    background: linear-gradient(to right,
    #0084ff,
    #1e65ff);
    color: white;
    text-decoration: none;
    padding: 15px 30px;

}
#botaoLogout {
    margin: auto;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    border: 0px;
    font-weight: 700;
    background-image: linear-gradient(45deg, #da130c 0%, #ee0303 50%, #ff2f2f 100%);
    cursor: pointer;
    user-select: none;
    font-family: 'IBM Plex Mono', monospace;
    word-spacing: -5px;

}
#botaoLogout:hover {
    background-position: right center;
    background-image: linear-gradient(45deg, #e90800 0%, #f10202 50%, #ff0505 100%);
    color: white;
    text-decoration: none;
    padding: 15px 30px;

}
#botaoLogout:active{
    transform: scale(0.95);
}
@media (max-width: 1200px) {
    header nav {
        display: none;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    header nav.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .suspenso-content {
        position: static;
        margin: 0;
        padding: 10px 0;
    }

    .suspenso-content button {
        width: 100%;
        text-align: left;
    }
}

@media (max-width: 768px) {
    header nav {
        display: none;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    header nav.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .suspenso-content {
        position: static;
        margin: 0;
        padding: 10px 0;
    }

    .suspenso-content button {
        width: 100%;
        text-align: left;
    }
}

@media (max-width: 320px) {
    header nav {
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 10px;
        align-items: flex-start;
    }

    header nav.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .suspenso-content {
        position: static;
        margin: 0;
        padding: 10px 0;
    }

    .suspenso-content button {
        width: 100%;
        text-align: left;
    }
}
